<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title> Eleen Limon Portfolio </title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="./static/img/block.png" rel="icon">
  <link href="./static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Bootstrap CSS File -->
  <link href="./static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="./static/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link href="./static/lib/animate/animate.min.css" rel="stylesheet">
  <link href="./static/lib/ionicons/css/ionicons.min.css" rel="stylesheet">
  <link href="./static/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
  <link href="./static/lib/lightbox/css/lightbox.min.css" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="./static/css/style.css" rel="stylesheet">

</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll" href="#page-top">Eleen Limon Portfolio</a>
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!--/ Nav End /-->

  <!--/ Intro Skew Star /-->
  <div id="home" class="intro route bg-image" style="background-image: url(./static/img/water.jpg)">
    <div class="overlay-itro"></div>
    <div class="intro-content display-table">
      <div class="table-cell">
        <div class="container">
          <!--<p class="display-6 color-d">Hello, world!</p>-->
          <h1 class="intro-title mb-4">I am Eleen Limon</h1>
          <p class="intro-subtitle"><span class="text-slider-items">Python Developer,Web Developer, Backend Developer</span><strong class="text-slider"></strong></p>
          <!-- <p class="pt-3"><a class="btn btn-primary btn js-scroll px-4" href="#about" role="button">Learn More</a></p> -->
        </div>
      </div>
    </div>
  </div>
  <!--/ Intro Skew End /-->

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="./static/img/yy.png" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Name: </span> <span>Eleen Limon</span></p>
                      <p><span class="title-s">Profile: </span> <span>Python Developer</span></p>
                      <p><span class="title-s">Email: </span> <span>eleenlimon4@gmail.com</span></p>
                      <p><span class="title-s">Phone: </span> <span>(951) 500-3153</span></p>
                    </div>
                  </div>
                </div>
                <div class="skill-mf">
                  <p class="title-s">Skill</p>
                  <span>DJANGO</span> <span class="pull-right"></span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="50" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>PYTHON</span> <span class="pull-right"></span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="80" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>GIT</span> <span class="pull-right"></span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="20" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                  <span>HTML, CSS</span> <span class="pull-right"></span>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="30" aria-valuemin="0"
                      aria-valuemax="100"></div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-3 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      About Me
                    </h5>
                  </div>
                  <p class="lead">
                   As a self-taught Python developer, I've transformed concepts into captivating projects, showcasing my knack for creative problem-solving.
                    My toolkit includes the Flask/Django framework, GitHub collaboration, AI and Machine Learning, along with a command of Python libraries.
                    From back-end intricacies to front-end skills with JavaScript, HTML5, and CSS3, I orchestrate seamless user experiences.
                  </p>

                  <p class="lead">
                    Embracing Python's dynamic evolution, I maintain a strong foundation in its basics while eagerly embracing new changes.
                    My projects reflect not only accomplishments but also the resilience forged through grappling with complexities.
                    This self-taught journey has instilled in me an unyielding passion for coding, a testament to my growth and relentless
                    pursuit of mastery.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->

  </section>
  <!--/ Section Services End /-->

  <div class="section-counter paralax-mf bg-image" style="background-image: url(./static/img/counters-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-checkmark-round"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">32</p>
              <span class="counter-text">WORKS COMPLETED</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-calendar-outline"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">1</p>
              <span class="counter-text">YEAR OF EXPERIENCE</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ios-people"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">4</p>
              <span class="counter-text">OPEN SOURCE WORKS</span>
            </div>
          </div>
        </div>
        <div class="col-sm-3 col-lg-3">
          <div class="counter-box pt-4 pt-md-0">
            <div class="counter-ico">
              <span class="ico-circle"><i class="ion-ribbon-a"></i></span>
            </div>
            <div class="counter-num">
              <p class="counter">3</p>
              <span class="counter-text">CERTIFICATES EARNED</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--/ Section Portfolio Star /-->
  <!--/ Section Blog End /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Work
            </h3>
            <p class="subtitle-a">
              Explore my diverse range of projects on GitHub, showcasing proficiency in various technologies and frameworks.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4" style="margin: auto;">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://limondjango.up.railway.app/"><img src="https://swapps.com/wp-content/uploads/2019/04/django-faster.jpg" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category"><a href="https://limondjango.up.railway.app/">View Projects</a></h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://limondjango.up.railway.app/">Collection of Django Projects</a></h3>
              <p class="card-description">
                These projects collectively exemplify my deep understanding of Python for backend development, Django for
            creating robust web applications using CRUD, HTML & CSS for crafting user-friendly interfaces for modern and responsive styling.
              </p>
              </div>
            <div class="card-footer">
              <div class="post-author">
                  <span class="author">Django</span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4" style="margin: auto;">
          <div class="card card-blog">
            <div class="card-img">
              <a href="https://langchain-q-and-a-docs.streamlit.app/"><img src="https://miro.medium.com/v2/resize:fit:1400/0*Iy9LzhTAPht6ghwU.png" alt="" class="img-fluid"></a>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category"><a href="https://langchain-q-and-a-docs.streamlit.app/">View Project</a></h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://langchain-q-and-a-docs.streamlit.app/">LLM Question-Answering App</a></h3>
              <p class="card-description">
                Leveraging Langchain, Python, ChromDB, and Streamlit users can
                upload documents, enabling Langchain to deliver precise answers while maintaining a chat history. To
                access this capability, users must obtain a personalized API key for secure access.
              </p>
               </div>
            <div class="card-footer">
              <div class="post-author">
                  <span class="author">Open AI</span>
                </a>
              </div>
            </div>
            </div>
          </div>
        </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(./static/img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                     Contact Me
                    </h5>
                  </div>
                  <div>
                      <form action="submit_form" method="post" role="form" class="contactForm">
                      <div id="sendmessage">Your message has been sent. Thank you!</div>
                      <div id="errormessage"></div>
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Send Message</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <div>
                      <div>

                      </div>
                    </div>
                    <h5 class="title-left">
                      Get in Touch
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      I'm not just seeking a job; I'm seeking an opportunity to elevate your development endeavors. When you engage me, you're enlisting a developer who;
                      creates clean and efficient code, embraces challenges, adapts and learns. The tech landscape evolves rapidly, and I evolve with it.
                      Let's discuss how I can contribute to your team's success as a Python Developer.
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-location"></span> Corona, CA</li>
                      <li><span class="ion-ios-telephone"></span> (951) 500-3153</li>
                      <li><span class="ion-email"></span> eleenlimon4@gmail.com</li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://github.com/eleenlimon"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                      <li><a href="https://linkedin.com/in/eleen-limon-84a466207"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://news.ycombinator.com/news"><span class="ico-circle"><i class="ion-social-hackernews"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
    </div>
  </section>

  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
  <div id="preloader"></div>

  <!-- JavaScript Libraries -->
  <script src="./static/lib/jquery/jquery.min.js"></script>
  <script src="./static/lib/jquery/jquery-migrate.min.js"></script>
  <script src="./static/lib/popper/popper.min.js"></script>
  <script src="./static/lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="./static/lib/easing/easing.min.js"></script>
  <script src="./static/lib/counterup/jquery.waypoints.min.js"></script>
  <script src="./static/lib/counterup/jquery.counterup.js"></script>
  <script src="./static/lib/owlcarousel/owl.carousel.min.js"></script>
  <script src="./static/lib/lightbox/js/lightbox.min.js"></script>
  <script src="./static/lib/typed/typed.min.js"></script>
  <!-- Contact Form JavaScript File -->
  <script src="./static/contactform/contactform.js"></script>

  <!-- Template Main Javascript File -->
  <script src="./static/js/main.js"></script>

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</body>
</html>
